WebContent/wadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ibm:phonebook" xmlns:pb="ibm:phonebook">
  <grammars>
    <include href="PhonebookResponse.xsd"/>
  </grammars>
  <resources base="http://example.com/api/">
    <resource path="/phonebook">
      <method name="GET" id="queryPhonebook">
        <doc>Returns list of entries matching the query</doc>
        <request>
          <param name="Authorization" style="query" type="xs:string"/>
          <param name="title" style="query" type="xs:string"/>
          <param name="firstname" style="query" type="xs:string"/>
          <param name="lastname" style="query" type="xs:string"/>
        </request>
        <response status="200">
          <doc>OK</doc>
          <representation mediaType="application/json" element="pb:phonebookEntries"/>
        </response>
        <response status="401">
          <doc>User Not Authorized</doc>
        </response>
      </method>
      <method name="POST" id="create">
        <doc>Adds entry to phonebook</doc>
        <request>
          <param name="Authorization" style="query" type="xs:string"/>
          <representation mediaType="application/json" element="pb:phonebookEntry"/>
        </request>
        <response status="201">
          <doc>Created Successfully</doc>
        </response>
        <response status="401">
          <doc>User Not Authorized</doc>
        </response>
      </method>
      <resource path="/{id}">
        <param name="id" style="template" type="xs:string"/>
        <method name="DELETE" id="deleteEntry">
          <doc>Deletes an existing entry from the phonebook</doc>
          <request>
            <param name="Authorization" style="query" type="xs:string"/>
          </request>
          <response status="204">
            <doc>OK</doc>
          </response>
          <response status="401">
            <doc>User Not Authorized</doc>
          </response>
          <response status="404">
            <doc>Entry not found for given ID</doc>
          </response>
        </method>
        <method name="GET" id="getEntry">
          <doc>Returns entry with provided ID</doc>
          <request>
            <param name="Authorization" style="query" type="xs:string"/>
          </request>
          <response>
            <representation mediaType="application/json" element="pb:phonebookEntry"/>
          </response>
        </method>
        <method name="PUT" id="update">
          <doc>Updates an existing entry in the phonebook</doc>
          <request>
            <param name="Authorization" style="query" type="xs:string"/>
            <representation mediaType="application/json" element="pb:phonebookEntry"/>
          </request>
          <response status="200">
            <doc>OK</doc>
            <representation mediaType="application/json" element="pb:phonebookEntry"/>
          </response>
          <response status="401">
            <doc>User Not Authorized</doc>
          </response>
          <response status="404">
            <doc>Entry not found for given ID</doc>
          </response>
        </method>
      </resource>
    </resource>
    <resource path="/user">
      <method name="POST" id="createUser">
        <doc>Creates new user entry</doc>
        <response status="200">
          <doc>successful operation</doc>
          <representation mediaType="application/json" element="pb:userEntry"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
